<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/css/coupon.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="./assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="./assets/css/libs.bundle.css" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="./assets/css/theme.bundle.css" />

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>OldSkool | Bootstrap 5 HTML Template</title>

</head>
<script src="https://goo.gl/YaXBll"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" href="#">Shopping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/home"> Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shipping">Checkout</a>
      </li>
     
    </ul>
  </div>
</nav>
<body class="">

    <!-- Main Section-->
    <section class="mt-0  vh-lg-100">
        <!-- Page Content Goes Here -->
        <div class="container">
            <div class="row g-0 vh-lg-100">
                <div class="col-lg-7 pt-5 pt-lg-10">
                    <div class="pe-lg-5">
                        <!-- Logo-->
                        <a class="navbar-brand fw-bold fs-3 flex-shrink-0 mx-0 px-0" href="./index.html">
                                <div class="d-flex align-items-center">
                                    <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>
                                </div>
                            </a>
                        <!-- / Logo-->
                        <nav class="d-none d-md-block">
                            <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="./cart.html">Your Cart</a></li>
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="./checkout.html">Information</a></li>
                               
                                <li><a class="nav-link-checkout nav-link-last "
                                        href="./checkout-payment.html">Payment</a></li>
                            </ul>
                        </nav>                        <div class="mt-5">
                            <!-- Checkout Information Summary -->
                            <ul class="list-group mb-5 d-none d-lg-block rounded-0">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                              <!-- Address -->

                              <div class="form-group">
                                
                                <label class="form-label"><h4>Choose an Address:</h4><a style="margin-left: 300px;" href="/address" class="btn btn-dark w-100 w-md-auto" role="button">Add address</a></label>  

                              
                                <% addressData.forEach((address, index) => { %>
                                  <div class="form-check form-check-custom form-radio-custom form-radio-highlight mb-3">
                                    <input class="form-check-input" type="radio" name="ShippingAddress" id="checkoutShippingMethod<%= index %>" value="<%= address._id%>" onclick="selectAddress('<%= address._id %>')" <%= index === 0 ? 'checked' : '' %>>
                                    <label class="form-check-label" for="checkoutShippingMethod<%= index %>">
                                      <small class="d-flex justify-content-between align-items-start">
                                        <span>
                                          <span class="mb-0 fw-bolder d-block">Contact Name: <%- address.contacts[0].contactname %></span>
                                          <span class="mb-0 fw-bolder d-block">Email: <%- address.contacts[0].email %></span>
                                          <span class="mb-0 fw-bolder d-block">Phone No: <%- address.contacts[0].phno %></span>
                                          <small class="fw-bolder">Address Type: <%= address.addresses[0].addressType %></small>
                                        </span>
                                        <span>
                                          <span class="mb-0 fw-bolder d-block">Contact Name: <%- address.addresses[0].houseno %></span>
                                          <span class="mb-0 fw-bolder d-block">Email: <%- address.addresses[0].street %></span>
                                          <span class="mb-0 fw-bolder d-block">Phone No: <%- address.addresses[0].landmark %></span>
                                        </span>
                                      </small>
                                    </label>
                                  </div>
                                <% }) %>
                              </div>
 
                                </li>
                            </ul><!-- / Checkout Information Summary-->
                            
                            <!-- Checkout Panel Information-->
                            <h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Payment Information</h3>
                            
                            <div class="row">
                              <!-- Payment Option: Credit Card (Stripe) -->
                              <div class="col-12">
                                  <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                      <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentStripe" value="credit-card" onclick="selectPaymentMethod('Razorpay')">
                                      <label class="form-check-label" for="checkoutPaymentStripe">
                                          <span class="d-flex justify-content-between align-items-start">
                                              <span>
                                                  <span class="mb-0 fw-bolder d-block">Credit Card (Stripe)</span>
                                              </span>
                                              <i class="ri-bank-card-line"></i>
                                          </span>
                                      </label>
                                  </div>
                              </div>
                          
                              <!-- Payment Option: Cash On Delivery (COD) -->
                              <div class="col-12">
                                  <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                      <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentCOD" value="cod" onclick="selectPaymentMethod('cod')">
                                      <label class="form-check-label" for="checkoutPaymentCOD">
                                          <span class="d-flex justify-content-between align-items-start">
                                              <span>
                                                  <span class="mb-0 fw-bolder d-block">Cash On Delivery (COD)</span>
                                              </span>
                                              <i class="ri-paypal-line"></i>
                                          </span>
                                      </label>
                                  </div>
                              </div>
                          
                              <!-- Payment Option: Use Wallet -->
                              <div class="col-12">
                                  <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                      <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentWallet" value="wallet" onclick="selectPaymentMethod('wallet')">
                                      <label class="form-check-label" for="checkoutPaymentWallet">
                                          <span class="d-flex justify-content-between align-items-start">
                                              <span>
                                                  <span class="mb-0 fw-bolder d-block">Use WALLET</span>
                                              </span>
                                              <i class="ri-paypal-line"></i>
                                          </span>
                                      </label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-12">
                          <button class="btn btn-dark w-100 w-md-auto" style="float: right;" onclick="addWallet()">ADD WALLET</button>   
                    </div>
                          
                            
                            <!-- Payment Details-->
                            <div class="card-details" id="creditform">
                              <!-- <div class="row pt-3">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cc-name" class="form-label">Name on card</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" >
                                    <small class="text-muted">Full name as displayed on card</small>
                                  </div>
                                </div>
                            
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cc-number" class="form-label">Credit card number</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" >
                                  </div>
                                </div>
                            
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="cc-expiration" class="form-label">Expiration</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" >
                                  </div>
                                </div>
                            
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <div class="d-flex">
                                      <label for="cc-cvv" class="form-label d-flex w-100 justify-content-between align-items-center">Security Code</label>
                                      <button type="button" class="btn btn-link p-0 fw-bolder fs-xs text-nowrap" data-bs-toggle="tooltip"
                                              data-bs-placement="top"
                                              title="A CVV is a number on your credit card or debit card that's in addition to your credit card number and expiration date">
                                        What's this?
                                      </button>
                                    </div>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" >
                                  </div>
                                </div>
                              </div> -->
                            </div>
                            <!-- / Payment Details-->
                            
                            

                             <!-- COD Info-->
                             <div class="paypal-details bg-light p-4 d-none my-3 fw-bolder">
                             You will be charged a fee of $5 as handling costs.Please click on complete order.
                            </div>
                            <!-- /COD Info-->
                            
                            <!-- Accept Terms Checkbox-->
                            <div class="form-group form-check m-0">
                              <input type="checkbox" class="form-check-input" id="accept-terms" checked>
                              <label class="form-check-label fw-bolder" for="accept-terms">I agree to OldSkool's <a href="#">terms &
                                  conditions</a></label>
                            </div>
                            
                            <div class="pt-5 mt-5 pb-5 border-top d-flex flex-column flex-md-row justify-content-between align-items-center">
                              <a href="./checkout-shipping.html" class="btn ps-md-0 btn-link fw-bolder w-100 w-md-auto mb-2 mb-md-0" role="button">Back to
                                shipping</a>
                              <button onclick="confirmorder()" class="btn btn-dark w-100 w-md-auto">Complete Order</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                    <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                       
                        <div class="py-4 border-bottom">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <p class="m-0 fw-bolder fs-6">Subtotal</p>
                                <p class="m-0 fs-6 fw-bolder" id="selectedTotal">₹<%= cartData.selectedTotal %></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center ">
                                <p class="m-0 fw-bolder fs-6">Shipping</p>
                                <p class="m-0 fs-6 fw-bolder">₹40</p>
                            </div>
                        </div>
                        <div class="py-4 border-bottom">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="m-0 fw-bold fs-5">Grand Total</p>
                                    <span class="text-muted small">Inc ₹100 sales tax</span>
                                </div>
                                <p class="m-0 fs-5 fw-bold" id="Total" >₹<%= cartData.selectedTotal + 40 + 100 %></p>
                            </div>
                        </div>

                        <div class="container mt-5"> 
                          <% couponData.forEach((coupon)=>{ %>
                          <div class="d-flex justify-content-center row"> 
                            <div class="col-md-12"> <div class="coupon p-1 bg-white">
                               <div class="row no-gutters">
                                 <div class="col-md-4 border-right"> 
                                  <div class="d-flex flex-column align-items-center">
                                    <img src="https://i.imgur.com/XwBlVpS.png">
                                    <span class="d-block"><%= coupon.name %></span>
                                    <!-- <span class="text-black-50">Shoes</span> -->
                                  </div> </div> <div class="col-md-8"> 
                                    <div> 
                                      <div class="d-flex flex-row justify-content-end off"> 
                                        <h1><%= coupon.discount %>%</h1><span>OFF</span>
                                      </div> 
                                      <div class="d-flex flex-row justify-content-between off px-3 p-2">
                                        <span>Promo code:</span>
                                        <span class="border border-success px-3 rounded code"><%= coupon.name %></span>
                                      </div>
                                     </div> 
                                    </div> 
                                  </div>
                                 </div> 
                                </div>
                               </div>
                               <br>
                               <% }) %>
                               </div>
                        


                        <div class="py-4">
                            <div class="input-group mb-0">
                                <input type="text" class="form-control" placeholder="Enter your coupon code" id="coupon">
                                <button class="btn btn-dark btn-sm px-4" onclick="applyCoupon('<%= cartData.selectedTotal %>')">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
    </section>
    <!-- / Main Section-->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/payment.js"></script>
   
</body>

</html>