<%- include ('/userPartials/userheader')%>



   

    <!-- Navbar -->
    <!-- Navbar -->
    
    <!-- / Navbar-->    <!-- / Navbar-->

    <!-- Main Section-->
    <section class="mt-0 ">
        <!-- Page Content Goes Here -->            
        
        <!-- Breadcrumbs-->
        <div class="bg-dark py-6">
            <div class="container-fluid">
                <nav class="m-0" aria-label="breadcrumb">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item breadcrumb-light"><a href="#">Home</a></li>
                      <li class="breadcrumb-item breadcrumb-light"><a href="#">Headphones</a></li>
                      <li class="breadcrumb-item  breadcrumb-light active" aria-current="page"><%= productdetails.name %></li>
                    </ol>
                </nav>            </div>
        </div>
        <!-- / Breadcrumbs-->

        <div class="container-fluid mt-5">

            <!-- Product Top Section-->
            <div class="row g-9" data-sticky-container>




<!-- 
                <div class="col-sm-5 mt-1 " style="border: 1px solid black;">
                    <ul id="glasscase" class="gc-start">
                        <li><img src="/images/cat.jpg" alt="Text" />
                        </li>
                        
                    </ul>
                </div> -->




                <!-- Product Images-->
                <div class="col-12 col-md-6 col-xl-7">
                    
                    <div class="container">
                        
                        <!-- <div class="row g-3" data-aos="fade-right"> -->
                        <div class="">
                                    <ul id="glasscase" class="gc-start">
                                        <li><img src="/uploads/<%= productdetails.images[0].filename %>" width="500" height="500" alt="Text" data-gc-caption="Your caption text" /></li>
                                        <li><img src="/uploads/<%= productdetails.images[1].filename %>" width="500" height="500" alt="Text" /></li>
                                        <li><img src="/uploads/<%= productdetails.images[2].filename %> " width="500" height="500" alt="Text" /></li>
                                        <!-- <li><img src="https://source.unsplash.com/featured?teChnology" alt="Text" /></li>
                                        <li><img src="https://source.unsplash.com/featured?TecHnology" alt="Text" /></li>
                                        <li><img src="https://source.unsplash.com/featured?TechNology" alt="Text" /></li> -->
                                    </ul>
                                </div><a href="http://tinycomp.net/products/glasscase-jquery-product-image-zoom-plugin/examples.aspx">For More Guide</a>
                            <!-- </div> -->
                    </div>






                    <!-- <div class="row g-3" data-aos="fade-right">
                        <div class="col-12" id="img-container">

                            <ul id="glasscase" class="gc-start">

                            <% for (let i = 0; i < productdetails.images.length; i++) { %>

                                    <img   src="/uploads/<%= productdetails.images[i].filename %>" width="500" height="500">


                                <% } %>
                            </ul>

                        </div>
                    </div> -->
                </div>
                
                
                
                
                <!-- /Product Images-->
    
                <!-- Product Information-->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="sticky-top top-5">
                        <div class="pb-3" data-aos="fade-in">
                            <div class="d-flex align-items-center mb-3">
                                <p class="small fw-bolder text-uppercase tracking-wider text-muted m-0 me-4">KiiKii</p>
                                <div class="d-flex justify-content-start align-items-center disable-child-pointer cursor-pointer"
                                data-pixr-scrollto
                                data-target=".reviews">
                                <!-- Review Stars Small-->
                                <div class="rating position-relative d-table">
                                    <div class="position-absolute stars" style="width: 80%">
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                    </div>
                                    <div class="stars">
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                    </div>
                                </div>        <small class="text-muted d-inline-block ms-2 fs-bolder">(105 reviews)</small>
                            </div>
                            </div>
                            
                            <h1 class="mb-1 fs-2 fw-bold"><%= productdetails.name %></h1>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="fs-4 m-0">₹<%= productdetails.price %></p>
                            </div>
                                   
                            </div>
                            <div class="mb-3">
                                <small class="text-uppercase pt-4 d-block fw-bolder text-muted">
                                    
                                </small>
                                <!-- <div class="mt-4 d-flex justify-content-start flex-wrap align-items-start">
                                    <% for(let i=0;i<productdetails.images.length;i++){ %>
                                    <picture class="me-2">
                                        <img class="f-w-24 p-2 bg-light border-bottom border-dark border-2 cursor-pointer" src="/assets/images/products/product-page-thumb-1.jpeg" alt="HTML Bootstrap Template by Pixel Rocket">
                                    </picture>
                                    <% } %>
                                    
                                </div> -->
                            </div>
                            <% if(productdetails.stock===0){ %>
                            <h2 style="color: red;">Out Of Stock</h2>                         
                        <% }else{%>
                            <button  onclick="addToCart('<%= productdetails.id%>')" class="btn btn-dark w-100 mt-4 mb-0 hover-lift-sm hover-boxshadow">Add To Shopping Cart</button>
                        <% }%>
                            <!-- Product Highlights-->
                                <div class="my-5">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="text-center px-2">
                                                <i class="ri-24-hours-line ri-2x"></i>
                                                <small class="d-block mt-1">Next-day Delivery</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="text-center px-2">
                                                <i class="ri-secure-payment-line ri-2x"></i>
                                                <small class="d-block mt-1">Secure Checkout</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="text-center px-2">
                                                <i class="ri-service-line ri-2x"></i>
                                                <small class="d-block mt-1">Free Returns</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- / Product Highlights-->
                        
                            <!-- Product Accordion -->
                            <div class="accordion" id="accordionProduct">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Product Details
                                    </button>
                                  </h2>
                                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionProduct">
                                    <div class="accordion-body">
                                        <p class="m-0"><%= productdetails.description %></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Details & Care
                                      </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionProduct">
                                      <div class="accordion-body">
                                          <ul class="list-group list-group-flush">
                                              <li class="list-group-item d-flex border-0 row g-0 px-0">
                                                  <span class="col-4 fw-bolder">Quaity</span>
                                                  <span class="col-7 offset-1">High-quality audio output</span>
                                              </li>
                                              <li class="list-group-item d-flex border-0 row g-0 px-0">
                                                  <span class="col-4 fw-bolder">Care</span>
                                                  <span class="col-7 offset-1">Follow the manufacturer's instructions for charging to maintain battery health.</span>
                                              </li>
                                          </ul>
                                      </div>
                                    </div>
                                  </div>        
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Delivery & Returns
                                    </button>
                                  </h2>
                                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionProduct">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex border-0 row g-0 px-0">
                                                <span class="col-4 fw-bolder">Delivery</span>
                                                <span class="col-7 offset-1">Standard delivery free for orders over ₹1999.</span>
                                            </li>
                                            <li class="list-group-item d-flex border-0 row g-0 px-0">
                                                <span class="col-4 fw-bolder">Returns</span>
                                                <span class="col-7 offset-1">30 day return period. See our <a class="text-link-border" href="#">terms & conditions.</a></span>
                                            </li>
                                        </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <!-- / Product Accordion-->
                        </div>                    </div>
                </div>
                <!-- / Product Information-->
            </div>
            <!-- / Product Top Section-->

            <div class="row g-0">

                <!-- Related Products-->
                <div class="col-12" data-aos="fade-up">
                    <h3 class="fs-4 fw-bolder mt-7 mb-4">You May Also Like</h3>
                    <!-- Swiper Latest -->
                    <div class="swiper-container" data-swiper data-options='{
                        "spaceBetween": 10,
                        "loop": true,
                        "autoplay": {
                          "delay": 5000,
                          "disableOnInteraction": false
                        },
                        "navigation": {
                          "nextEl": ".swiper-next",
                          "prevEl": ".swiper-prev"
                        },   
                        "breakpoints": {
                          "600": {
                            "slidesPerView": 2
                          },
                          "1024": {
                            "slidesPerView": 3
                          },       
                          "1400": {
                            "slidesPerView": 4
                          }
                        }
                      }'>
                      <div class="swiper-wrapper">
                        <% relProducts.forEach((product)=>{ %>
                            <div class="swiper-slide">
                              <!-- Card Product-->
                              <div class="card border border-transparent position-relative overflow-hidden h-100 transparent">
                                  <div class="card-img position-relative">
                                      <div class="card-badges">
                                              <span class="badge badge-card"><span class="f-w-2 f-h-2 bg-danger rounded-circle d-block me-1"></span> Sale</span>
                                      </div>
                                      <span class="position-absolute top-0 end-0 p-2 z-index-20 text-muted"><i class="ri-heart-line"></i></span>
                                      <picture class="position-relative overflow-hidden d-block bg-light">
                                          <img class="w-100 img-fluid position-relative z-index-10" title="" src="/uploads/<%= product.coverimage.filename %>" alt="">
                                      </picture>
                                        
                                  </div>
                                  <div class="card-body px-0">
                                      <a class="text-decoration-none link-cover" href="/product.html"><%= product.name %></a>
                                              <p class="mt-2 mb-0 small"><s class="text-muted">₹<%= product.baseprice %></s> <span class="text-danger">₹<%= product.price %></span></p>
                                  </div>
                              </div>
                              <!--/ Card Product-->
                            </div>
                            <% }) %>
                           
                      </div>
                    
                      <!-- Add Arrows -->
                      <div
                        class="swiper-prev top-50  start-0 z-index-30 cursor-pointer transition-all bg-white px-3 py-4 position-absolute z-index-30 top-50 start-0 mt-n8 d-flex justify-content-center align-items-center opacity-50-hover">
                        <i class="ri-arrow-left-s-line ri-lg"></i></div>
                      <div
                        class="swiper-next top-50 end-0 z-index-30 cursor-pointer transition-all bg-white px-3 py-4 position-absolute z-index-30 top-50 end-0 mt-n8 d-flex justify-content-center align-items-center opacity-50-hover">
                        <i class="ri-arrow-right-s-line ri-lg"></i></div>
                    
                    
                    </div>
                    <!-- / Swiper Latest-->                </div>
                <!-- / Related Products-->

                <!-- Reviews-->
               

        </div>

        <!-- /Page Content -->
    </section>
    <!-- / Main Section-->

    <!-- Footer -->
      <!-- / Footer-->  

    <!-- Theme JS -->
    <!-- Vendor JS -->


    <script src="/javascripts/productdetails.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="/assets/js/theme.bundle.js"></script>
 
    <script type="text/javascript">
        $(document).ready( function () {
            //If your <ul> has the id "glasscase"
            $('#glasscase').glassCase({ 'thumbsPosition': 'bottom', 'widthDisplay' : 560});
        });
    </script>
       <script src="/javascripts/zoom.js"></script>

</body>

</html>
<%- include ('/userPartials/userFooter')%>
